/* --- Base Styles --- */

:root {
	--primary: rgb(0, 189, 202);
	--primaryHover: rgb(1, 156, 156);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: auto;
	min-height: 100vh;
	width: 100vw;
	position: relative;
	padding: 2rem;
}

.justify-middle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	background-color: var(--primary);
	border: none;
	border-radius: 5px;
}

.btn:hover {
	background-color: var(--primaryHover);
}

.hidden {
	display: none;
}

/* --- Containers --- */

/* --- Main Container --- */

.main-container {
	height: 100%;
	width: 100%;
	flex-direction: column;
}

/* --- Board --- */

.board {
	width: 330px;
	height: 330px;
	display: grid;
	grid-template-columns: repeat(3, auto);
}

.cell {
	background-color: white;
	width: 110px;
	height: 110px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	cursor: pointer;
	font-size: 7.4rem;
}

.cell.winner {
	background-color: rgb(35, 223, 35);
}

.cell:nth-child(3n + 0) {
	border-right: none;
}

.cell:nth-child(n + 7) {
	border-bottom: none;
}

.cell:not(.winner):hover {
	background-color: rgb(240, 240, 240);
}

/* --- Score Container --- */

.score-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin-bottom: 60px;
}

.player-1-container,
.player-2-container {
	width: 240px;
	height: 80px;
	border-radius: 10px;
}

.player-1-container.active,
.player-2-container.active {
	background-color: var(--primary);
}

#player-1-name-element,
#player-2-name-element {
	font-size: 2.4rem;
}

#player-1-name-element {
	margin-right: 20px;
}

#player-2-name-element {
	margin-left: 20px;
}

#player-1-score-element,
#player-2-score-element {
	font-size: 4rem;
	font-weight: 600;
}

#result-element {
	font-size: 3rem;
}

/* --- Back Button Container --- */

.back-btn-container {
	margin-top: 60px;
	text-align: center;
}

.back-btn {
	padding: 8px 20px;
	font-size: 1.8rem;
}

/* --- Settings Container --- */

.settings-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.settings-panel {
	width: 400px;
	height: 400px;
	background-color: white;
	flex-direction: column;
	border-radius: 20px;
}

h1 {
	font-size: 4.4rem;
	margin-bottom: 40px;
}

.select-input {
	width: 65%;
	padding: 8px 10px;
	font-size: 16px;
	margin: 8px 0;
}

.start-game-btn {
	margin-top: 20px;
	padding: 8px 20px;
	font-size: 1.8rem;
}

/* --- Media Query --- */

@media screen and (max-width: 600px) {
	.score-container {
		flex-direction: column;
		text-align: center;
		width: 100%;
	}

	.player-1-container,
	.player-2-container,
	.result-container {
		width: 100%;
		margin: 10px auto;
	}
}
